main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

form {
    width: 45%;
    padding: 10px 20px;
    height: 100vh;
    overflow-y: scroll;
}

#preview {
    width: 45%;
    height: 100vh;
    overflow-y: scroll;
    padding: 10px 20px;
}
table {
    border: 1px solid #121212;
}

#preview table {
    border: 1px solid #121212;
}

#preview > table > thead > tr > th {
    text-align: center;
}

#preview > table > thead > tr > th:nth-child(2) {
    text-align: left;
}
